{% extends "base.html" %}
{% block content %}
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/assets/img/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">People with needs meet the everyday heroes</span>
                            <span class="section-heading-lower">About My Page</span>
                        </h2>
                        <p><i>"... My grandma 78 years old and live alone 400km away. She has a pleasant tiny house with
                                a small garden. She has some limitation to move, but she has to get rid a tree which was
                                broken by a flash during a storm. <b>SHE NEEDS HELP ..."</b></i></p>
                        <p><i>"... I am a 19 years old student and I have move from my student hostel. My mother lives
                                close, but we do not have a car or driving license. I have some basic furnitures and
                                couple of box to move to the other half of the city. <b>I NEED HELP ..."</b></i></p>
                        <p class="mb-0">
                            As we stated already in our headline. "There is always someone who needs help". There are
                            people who are old, there are people who are alone, there are people who needs help.
                        </p><br>
                        <p>
                            Maybe it is not a big thing for you but it means the world for someone else.<br>
                            Changing a bulb does not seem complicated ... if you are healthy and you do not have any
                            disabbility ...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}