{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-xl-9 mx-auto section-middle cta-inner bg-faded text-center rounded">
        <h3 class="form-header">Log In</h3>
        <div class="row">
            <form class="col-4 mx-auto" method="POST" action="{{ url_for('login') }}">

                <!-- Username -->
                <div class="row mb-3">
                    <div>
                        <i class="fas fa-user-cog"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" placeholder="Username" aria-label="username"
                            required aria-hidden>
                        <label for="username">Username</label>
                    </div>
                </div>

                <!-- Password -->
                <div class="row mb-5">
                    <div>
                        <i class="fas fa-user-lock"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" placeholder="Password" aria-label="password"
                            required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <!-- Log In -->
                <div class="row btn-row mb-5 mx-auto">
                    <button type="submit" class="btn btn-success text-shadow">
                        Log In
                    </button>
                </div>

            </form>
        </div>
        <div class="row">
            <p>
                New Here? <a href="{{ url_for('register') }}">Register Account</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
