{% extends "base.html" %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="col-xl-9 mx-auto">
      <div class="cta-inner bg-faded rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper text-center">All available Tasks in the Database</span>
        </h2>

        <!-- Materialize Accordion to show the tasks from database through "for" cycle -->

        <ul class="collapsible">

          {% for task in tasks %}
          <li>
            <div id="collaps-header" class="collapsible-header">
              <div class="col">
                <strong>{{ task.task_name }}</strong>
              </div>
              <div class="col pos">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <div id="collaps-body" class="collapsible-body">
              <ul>
                <li class="section-heading-upper">Task Name:
                  <span>{{ task.task_name }}</span>
                </li>
                <li class="section-heading-upper">Task Description:
                  <span>{{ task.task_description }}</span>
                </li>
                <li class="section-heading-upper">Task Name:
                  <span>{{ task.task_name }}</span>
                </li>
                <li class="section-heading-upper">Task Name:
                  <span>{{ task.task_name }}</span>
                </li>
                <li class="section-heading-upper">Task Name:
                  <span>{{ task.task_name }}</span>
                </li>
                <li class="section-heading-upper">Task Name:
                  <span>{{ task.task_name }}</span>
                </li>
              </ul>
            </div>
          </li>
          {% endfor %}
          
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock %}