{% extends "base.html" %}


{% block content %}

<section class="page-section cta">
  <div class="container">
    <div class="col-xl-9 mx-auto">
      <div class="cta-inner bg-faded rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">All available Tasks in the Database</span>
        </h2>

        

          
          <button class="accordion mb-3">Accordion</button>
            <div class="panel" style="max-height: 100px;">
              <p><strong>Username: </strong></p> <br>
              <p><strong>First name: </strong></p><br>

            </div>
          
          
                
          
      

        
            
        
      </div>
        
        
          <p class="address mb-5">
            <em>
                <strong>1116 Orchard Street</strong>
                <br />
                Golden Valley, Minnesota
            </em>
        </p>
        <p class="mb-0">
            <small><em>Call Anytime</em></small>
            <br />
            (317) 585-8468
        </p>
    </div>
</div>
</div>
</section>  





{% endblock %}