{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-xl-9 mx-auto section-middle">
        <div class="cta-inner bg-faded text-center rounded">
            <h3 class="form-header">Register New Task <i class="fas fa-folder-plus"></i></h3>
            <hr>
            <form method="POST" action="{{ url_for('new_task') }}">

                <!-- Task Name -->
                <div class="row mb-3">
                    <div class="col">
                        <input id="task_name" placeholder="Task name" name="task_name" type="text" minlength="5"
                            maxlength="40" class="form-control" required>
                        <label class="form-label" for="task_name">Give a name to your task</label>
                    </div>
                </div>

                <!-- Task Description -->
                <div class="row mb-3">
                    <div class="col">
                        <textarea id="task_description" placeholder="Task description" name="task_description"
                            minlength="5" maxlength="200" class="form-control validate" required></textarea>
                        <label class="form-label" for="task_description">Give a brief description about the task</label>
                    </div>
                </div>

                <!-- Compensation -->
                <div class="row mb-3">
                    <div class="col">
                        <input id="compensation" placeholder="Compensation" name="compensation" type="text"
                            class="form-control" required>
                        <label for="compensation">What kind of compensation you can offer for the help (e.g free
                            coffee/cake/lunch, some money etc ... )</label>
                    </div>
                </div>

                <!-- Comment -->
                <div class="row mb-3">
                    <div class="col">
                        <textarea id="comment" placeholder="Add extra comment" name="comment" minlength="5"
                            maxlength="200" class="form-control validate"></textarea>
                        <label class="form-label" for="comment">If you have any special need or just need more space for
                            task description.</label>
                    </div>
                </div>

                <!-- Due Date picker from Materialize / Task duration -->
                <div class="row mb-3 mx-auto">
                    <div class="col-md-4">
                        <input id="due_date" name="due_date" placeholder="Due date /DD Month, YYYY/" type="text"
                            class="datepicker" required>
                        <label for="due_date">Date when you need the help</label>
                    </div>

                    <div class="col-md-4">
                        <input id="duration" placeholder="Duration in hours" min="0.5" step="0.5" name="duration" type="number"
                            class="form-control" required>
                        <label for="duration">How long is the task? (hours)</label>
                    </div>

                    <div class="col-md-4">
                        <input id="bestcontact_requester" placeholder="My Best Contact" name="bestcontact_requester" type="text"
                            class="form-control validate" required>
                        <label for="bestcontact_requester">Give your best contact where the helper can contact you</label>
                    </div>
                </div>

                <!-- Switches -->
                <div id="switches" class="row mb-5 mx-auto">

                    <div class="col-md-4">
                        <div class="switch mb-3">
                            <label for="is_car">
                                <input type="checkbox" id="is_car" name="is_car">
                                <span class="lever"></span>
                                Possibly car needed
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="switch mb-3">
                            <label for="is_outdoor">
                                <input type="checkbox" id="is_outdoor" name="is_outdoor">
                                <span class="lever"></span>
                                Some part of the tsk is outdoor
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="switch mb-3">
                            <label for="is_heavy_lift">
                                <input type="checkbox" id="is_heavy_lift" name="is_heavy_lift">
                                <span class="lever"></span>
                                Task can contain heavy lifting tasks
                            </label>
                        </div>
                    </div>
                </div>


                <!-- Register and Clear form button -->
                <div class="row mb-5 mx-auto">
                    <div class="col-md-6 mx-auto">
                        <a href="{{ url_for('alltask') }}" class="btn btn-danger text-shadow">
                            Cancel
                        </a>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <button id="btn_register" type="submit" class="btn btn-success text-shadow">
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}