{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-xl-9 mx-auto section-middle">
        <div class="cta-inner bg-faded text-center rounded">
            <h3 class="form-header">Register New Task <i class="fas fa-folder-plus"></i></h3>
            <hr>
        <form method="POST" action="{{ url_for('edit_task', task_id=task._id) }}">

                <!-- Task Name -->
                <div class="row mb-3">
                        <div class="col">
                            <input id="task_name" placeholder="Task name" name="task_name" type="text" 
                            value="{{ task.task_name }}" minlength="5" maxlength="40" class="form-control" required> 
                            <label class="form-label" for="task_name">Give a name to your task</label>
                        </div>
                </div>

                <!-- Task Description -->  
                <div class="row mb-3">              
                    <div class="col">
                        <textarea id="task_description" placeholder="Task description" name="task_description" minlength="5"
                        maxlength="200" class="form-control validate" required>
                        {{- task.task_description -}} </textarea>
                        <label class="form-label" for="task_description">Give a brief description about the task</label>
                    </div>
                </div>
                
                <!-- Compensation -->
                <div class="row mb-3">
                    <div class="col">
                        <input id="compensation" placeholder="Compensation" name="compensation" type="text" 
                        value="{{ task.compensation }}" class="form-control" required>
                        <label for="compensation">What kind of compensation you can offer for the help (e.g free coffee/cake/lunch, some money etc ... )</label>
                    </div>
                </div>

                <!-- Comment -->  
                <div class="row mb-3">              
                    <div class="col">
                        <textarea id="comment" placeholder="Add extra comment" name="comment" minlength="5"
                        maxlength="200" class="form-control validate">
                        {{- task.comment -}}</textarea>
                        <label class="form-label" for="comment">If you have any special need or just need more space for task description.</label>
                    </div>
                </div>               

                <!-- Due Date picker from Materialize / Task duration -->
                <div class="row mb-3 mx-auto">
                    <div class="col-md-6">
                            <input id="due_date" name="due_date" placeholder="Due date DD Month, YYYY" type="text" 
                            value="{{ task.due_date }}" class="datepicker validate" required>
                            <label for="due_date">Date when you need the help</label>
                    </div>
                
                    <div class="col-md-6">
                        <input id="duration" placeholder="Duration in hours" name="duration" type="number" 
                        value="{{ task.duration }}" class="form-control" required>
                        <label for="duration">How long is the task? (hours)</label>
                    </div>
                </div>


                <!-- Switches -->
                <div id="switches" class="row mb-5 mx-auto">

                    <div class="col-md-4">
                        <div class="switch mb-3">
                            <label for="is_car"> 
                            {% if task.is_car == "on" %}
                                <input type="checkbox" id="is_car" name="is_car" checked>
                            {% else %}
                                <input type="checkbox" id="is_car" name="is_car">
                            {% endif %}
                            <span class="lever"></span>
                            Possibly car needed
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="switch mb-3">
                            <label for="is_outdoor">
                            {% if task.is_outdoor == "on" %}
                                <input type="checkbox" id="is_outdoor" name="is_outdoor" checked>
                            {% else %}
                                <input type="checkbox" id="is_outdoor" name="is_car">
                            {% endif %}
                            <span class="lever"></span>
                            Some part of the task is outdoor
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="switch mb-3">
                            <label for="is_heavy_lift">
                                {% if task.is_heavy_lift == "on" %}
                                    <input type="checkbox" id="is_heavy_lift" name="is_heavy_lift" checked>
                                {% else %}
                                    <input type="checkbox" id="is_heavy_lift" name="is_heavy_lift">
                                {% endif %}
                                <span class="lever"></span>
                                Task can contain heavy lifting tasks
                            </label>
                        </div>
                    </div>

                </div>


                <!-- Confirm and Cancel form button -->
                <div class="row mb-5 mx-auto">
                    <div class="col-md-6 mx-auto">
                        <a href="{{ url_for('get_tasks') }}" class="btn btn-danger text-shadow">
                            Cancel
                        </a>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <button id="btn_register" type="submit" class="btn btn-success text-shadow">
                            Update
                        </button>
                    </div>
                </div>


            </div>
        
        </form>
    
        </div>
    </div>
    
    

{% endblock %}