{% extends "base.html" %}

{% block content %}
<section class=" col-xl-9 mx-auto rounded">
  <div class="row card-panel cta">
    <h2 class="section-heading mb-4">
      <span class="section-heading-upper text-center">Search by Keywords in task names and description</span>
    </h2>
    <form action="{{ url_for('search') }}" method="post" class="col s12">
      <div class="row valign-wrapper center-align">
        <div class="input-field col s12">
          <input type="text" name="query" id="query" minlength="3" class="validate" required>
          <label for="query">Search</label>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="{{ url_for('alltask') }}" class="red btn text-shadow">Reset</a>
          <button type="submit" class="light-blue darken-1 btn text-shadow">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="page-section cta col-xl-9 mx-auto rounded">
  <div class="container">
    <div class="col-xl-9 mx-auto">
      <div class="cta-inner bg-faded rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper text-center">All Tasks in the Database / Search Results</span>
        </h2>

        <!-- Materialize Accordion to show the tasks from database through "for" cycle -->
        {% if tasks|length > 0 %}
        <ul class="collapsible">
          {% for task in tasks %}
          <li>
            {% if session.user|lower == "admin" %}
            <div id="collaps-header" class="collapsible-header">
              <div class="col">
                <i class="fas fa-angle-double-down"></i>
                <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn btn-danger text-shadow"
                  type="button">Delete</a>
              </div>
            </div>
            {% else %}
            <!-- This section defines wht type of lable the card header gets. Depends on the status of the task
            if it is booked and by whom it is booked-->
              {% if session.user|lower == task.created_by %}
              <div id="collaps-header-own" class="collapsible-header">
                <div class="col">
                  {% if task.is_booked %}
                  <i class="fas fa-angle-double-down"></i>
                  <span class="btn btn-warning"><strong>Help Showed Up</strong></span>
                  <span class="justify-content-md-end"><strong>{{ task.task_name }}</strong> : {{ task.due_date }}</span>
                  {% else %}
                  <i class="fas fa-angle-double-down"></i>
                  <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                  {% endif %}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a href="{{ url_for('edit_task', task_id=task._id ) }}" class="btn btn-success me-md-2 text-shadow"
                    type="submit">Edit</a>
                  <a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn btn-danger text-shadow"
                    type="button">Delete</a>
                </div>
              </div>
              {% else %}
                {% if task.is_booked %}
                  {% if session.user|lower == task.booked_by %}
                  <div id="collaps-header" class="collapsible-header">
                    <div class="col">
                      <i class="fas fa-angle-double-down"></i>
                      <span class="btn btn-info"><strong>I have Applied</strong></span>
                      <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                    </div>
                  </div>
                  {% else %}
                  <div id="collaps-header-not-available" class="collapsible-header">
                    <div class="col">
                      <i class="fas fa-angle-double-down"></i>
                      <span class="btn btn-light"><strong>Not Available For Me</strong></span>
                      <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                    </div>
                  </div>
                  {% endif %}
                {% else %}
                <div id="collaps-header" class="collapsible-header">
                  <div class="col">
                    <i class="fas fa-angle-double-down"></i>
                    <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                  </div>
                </div>
                {% endif %}
              {% endif %}
            {% endif %}

            <div id="collaps-body" class="collapsible-body">
              <ul class="mb-3">
                <li class="section-heading-upper">Task Name:
                  <span>{{ task.task_name }}</span>
                </li>
                <li class="section-heading-upper">Task Description:
                  <span>{{ task.task_description }}</span>
                </li>
                <li class="section-heading-upper">Additional Comment:
                  <span>{{ task.comment }}</span>
                </li>
                <li class="section-heading-upper">Compensation:
                  <span>{{ task.compensation }}</span>
                </li>
                <li class="section-heading-upper">Date of Task:
                  <span>{{ task.due_date }}</span>
                </li>
                <li class="section-heading-upper">Duration of the Task:
                  <span>{{ task.duration }}</span>
                </li>
                {% if session.user|lower != task.created_by %}
                <li class="section-heading-upper">Created by:
                  <span>{{ task.created_by }}</span>
                </li>
                {% endif %}
                {% if task.is_booked %}
                  {% if session.user|lower == task.booked_by %}
                  <li class="section-heading-upper">This is my Task
                  </li>
                  {% else %}
                  <li class="section-heading-upper">Booked by User:
                    <span>{{ task.booked_by }}</span>
                  </li>
                  {% endif %}
                {% endif %}
              </ul>
              <div class="row">
                <!-- This section define if at the end of the card body there is a anabled or disabled apply button
                or just further information about the contact of help provider/requester-->
                {% if session.user|lower != "admin" %}
                  {% if session.user|lower == task.created_by %}
                    {% if task.is_booked %}
                    <span class="info-btn-height btn btn-light me-md-2 text-shadow font-style-own">Contact of help provider:
                      {{ task.bestcontact_provider }} </span>
                    {% endif %}
                  {% else %}
                    {% if task.is_booked %}
                      {% if session.user|lower != task.booked_by %}
                      <a href="{{ url_for('apply_for_task', task_id=task._id ) }}"
                        class="btn btn-light me-md-2 text-shadow font-style-own" type="button" disabled>Apply for Task</a>
                      {% else %}
                      <span class="info-btn-height btn btn-light me-md-2 text-shadow font-style-own">Contact of help
                        requester:
                        {{ tasks.bestcontact_requester }} </span>
                      {% endif %}
                    {% else %}
                    <a href="{{ url_for('apply_for_task', task_id=task._id ) }}"
                      class="btn btn-light me-md-2 text-shadow font-style-own" type="button">Apply for Task</a>
                    {% endif %}
                  {% endif %}
                {% else %}
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
        {% endif %}
      </div>
    </div>
  </div>

</section>

{% endblock %}