{% extends "base.html" %}

{% block content %}

<section class="page-section cta col-xl-9 mx-auto rounded">
  <div class="container">
    <div class="col-xl-9 mx-auto">
      <div class="cta-inner bg-faded rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper text-center">All Tasks Created By Me</span>
        </h2>

        <!-- Materialize Accordion to show the tasks from database through "for" cycle -->

        <ul class="collapsible">

          {% for task in tasks %}
            {% if session.user|lower == task.created_by %}
              <li>
                {% if session.user|lower == task.created_by %}
                  <div id="collaps-header-own" class="collapsible-header">
                    <div class="col">
                      {% if task.is_booked %}
                      <i class="fas fa-angle-double-down"></i>
                      <span class="btn btn-warning"><strong>Help Showed Up</strong></span>
                      <span class="justify-content-md-end"><strong>{{ task.task_name }}</strong> : {{ task.due_date }}</span>
                      {% else %}
                      <i class="fas fa-angle-double-down"></i>
                      <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                      {% endif %}
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="{{ url_for('edit_task', task_id=task._id ) }}" class="btn btn-success me-md-2 text-shadow"
                        type="submit">Edit</a>
                      <a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn btn-danger text-shadow"
                        type="button">Delete</a>
                    </div>
                  </div>
                {% else %}
                  {% if task.is_booked %}
                    {% if session.user|lower == task.booked_by %}
                      <div id="collaps-header" class="collapsible-header">
                        <div class="col">
                          <span class="btn btn-light">My application</span>
                        </div>
                      </div>
                    {% else %}
                      <div id="collaps-header" class="collapsible-header">
                        <div class="col">
                          <i class="fas fa-angle-double-down"></i>
                          <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                        </div>
                      </div>
                    {% endif %}

                  {% else %}
                    <div id="collaps-header-not-available" class="collapsible-header">
                      <div class="col">
                        <span class="btn btn-light">Not Available For You</span>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}

                <div id="collaps-body" class="collapsible-body">
                  <ul class="mb-3">
                    <li class="section-heading-upper">Task Name:
                      <span>{{ task.task_name }}</span>
                    </li>
                    <li class="section-heading-upper">Task Description:
                      <span>{{ task.task_description }}</span>
                    </li>
                    <li class="section-heading-upper">Additional Comment:
                      <span>{{ task.comment }}</span>
                    </li>
                    <li class="section-heading-upper">Compensation:
                      <span>{{ task.compensation }}</span>
                    </li>
                    <li class="section-heading-upper">Date of Task:
                      <span>{{ task.due_date }}</span>
                    </li>
                    <li class="section-heading-upper">Duration of the Task:
                      <span>{{ task.duration }}</span>
                    </li>
                    {% if session.user|lower != task.created_by %}
                      <li class="section-heading-upper">Created by:
                        <span>{{ task.created_by }}</span>
                      </li>
                    {% endif %}
                      {% if task.is_booked %}
                        {% if session.user|lower != task.booked_by %}
                        <li class="section-heading-upper">Booked by User:
                          <span>{{ task.booked_by }}</span>
                        </li>
                        {% else %}
                          <li class="section-heading-upper">This is my Task
                          </li>
                        {% endif %}
                      {% endif %}
                  </ul>

                  <div class="row">
                    {% if session.user|lower != task.created_by %}
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        {% if task.is_booked %}
                          {% if session.user|lower != task.booked_by %}
                            <a href="{{ url_for('apply_for_task', task_id=task._id ) }}"
                              class="btn btn-light me-md-2 text-shadow font-style-own" type="button">Apply for Task</a>
                          {% else %}
                            <span class="info-btn-height btn btn-light me-md-2 text-shadow font-style-own">Contact of help requester:
                              {{ task.bestcontact_requester }} </span>
                          {% endif %}
                        {% else %}
                          <a href="{{ url_for('apply_for_task', task_id=task._id ) }}"
                            class="btn btn-light me-md-2 text-shadow font-style-own" type="button" disabled>Apply for Task</a>
                        {% endif %}
                      </div>
                    {% else %}
                      {% if task.is_booked %}
                        <span class="info-btn-height btn btn-light me-md-2 text-shadow font-style-own">Contact of help provider:
                          {{ task.bestcontact_provider }} </span>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endif %}  
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</section>


<section class="page-section cta col-xl-9 mx-auto rounded">
  <div class="container">
    <div class="col-xl-9 mx-auto">
      <div class="cta-inner bg-faded rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper text-center">All Tasks I have Applied for</span>
        </h2>

        <!-- Materialize Accordion to show the tasks from database through "for" cycle -->

        <ul class="collapsible">

          {% for task in tasks %}
            {% if session.user|lower == task.booked_by %}
              <li>
                {% if session.user|lower == task.created_by %}
                  <div id="collaps-header-own" class="collapsible-header">
                    <div class="col">
                      {% if task.is_booked %}
                      <span class="btn btn-light">Help Showed Up</span>
                      {% else %}
                      <i class="fas fa-angle-double-down"></i>
                      <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                      {% endif %}
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="{{ url_for('edit_task', task_id=task._id ) }}" class="btn btn-success me-md-2 text-shadow"
                        type="submit">Edit</a>
                      <a href="{{ url_for('delete_task', task_id=task._id) }}" class="btn btn-danger text-shadow"
                        type="button">Delete</a>
                    </div>
                  </div>
                {% else %}
                  {% if task.is_booked %}
                    {% if session.user|lower == task.booked_by %}
                      <div id="collaps-header" class="collapsible-header">
                        <div class="col">
                          <i class="fas fa-angle-double-down"></i>
                          <span class="btn btn-info"><strong>I have Applied</strong></span>
                          <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                        </div>
                      </div>
                    {% else %}
                      <div id="collaps-header" class="collapsible-header">
                        <div class="col">
                          <i class="fas fa-angle-double-down"></i>
                          <strong>{{ task.task_name }}</strong> : {{ task.due_date }}
                        </div>
                      </div>
                    {% endif %}

                  {% else %}
                    <div id="collaps-header-not-available" class="collapsible-header">
                      <div class="col">
                        <span class="btn btn-light">Not Available For You</span>
                      </div>
                    </div>
                  {% endif %}
                {% endif %}

                <div id="collaps-body" class="collapsible-body">
                  <ul class="mb-3">
                    <li class="section-heading-upper">Task Name:
                      <span>{{ task.task_name }}</span>
                    </li>
                    <li class="section-heading-upper">Task Description:
                      <span>{{ task.task_description }}</span>
                    </li>
                    <li class="section-heading-upper">Additional Comment:
                      <span>{{ task.comment }}</span>
                    </li>
                    <li class="section-heading-upper">Compensation:
                      <span>{{ task.compensation }}</span>
                    </li>
                    <li class="section-heading-upper">Date of Task:
                      <span>{{ task.due_date }}</span>
                    </li>
                    <li class="section-heading-upper">Duration of the Task:
                      <span>{{ task.duration }}</span>
                    </li>
                    {% if session.user|lower != task.created_by %}
                      <li class="section-heading-upper">Created by:
                        <span>{{ task.created_by }}</span>
                      </li>
                    {% endif %}
                      {% if task.is_booked %}
                        {% if session.user|lower != task.booked_by %}
                        <li class="section-heading-upper">Booked by User:
                          <span>{{ task.booked_by }}</span>
                        </li>
                        {% else %}
                          <li class="section-heading-upper">This is my Task
                          </li>
                        {% endif %}
                      {% endif %}
                  </ul>

                  <div class="row">
                    {% if session.user|lower != task.created_by %}
                      
                        {% if task.is_booked %}
                          {% if session.user|lower != task.booked_by %}
                            <a href="{{ url_for('apply_for_task', task_id=task._id ) }}"
                              class="btn btn-light me-md-2 text-shadow font-style-own" type="button">Apply for Task</a>
                          {% else %}
                            <span class="info-btn-height btn btn-light me-md-2 text-shadow font-style-own">Contact of help requester:
                              {{ task.bestcontact_requester }} </span>
                          {% endif %}
                        {% else %}
                          <a href="{{ url_for('apply_for_task', task_id=task._id ) }}"
                            class="btn btn-light me-md-2 text-shadow font-style-own" type="button" disabled>Apply for Task</a>
                        {% endif %}
                      
                    {% else %}
                      {% if task.is_booked %}
                        <span class="info-btn-height btn btn-light me-md-2 text-shadow font-style-own">Contact of help provider:
                          {{ task.bestcontact_provider }} </span>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endif %}  
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</section>

{% endblock %}