{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-xl-9 mx-auto section-middle">
        <div class="cta-inner bg-faded text-center rounded">
            <h3 class="form-header">Register New Member <i class="fas fa-user-plus"> </i></h3>
            <hr>
        <form method="POST" action="{{ url_for('register') }}">

                <!-- Username -->
                <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="username" placeholder="Username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required> 
                            <label class="form-label" for="username"></label>
                        </div>
                <!-- Password -->                
                    <div class="col-md-6">
                        <input id="password" placeholder="Password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                        <label for="password"></label>
                    </div>
                </div>
                
                <!-- First Name -->
                <div class="row mb-3">
                    <div class="col-md-5">
                        <input id="fname" placeholder="First name" name="fname" type="text" class="form-control" required>
                        <label for="fname"></label>
                    </div>
                

                <!-- Last Name and Age -->
                
                <div class="col-md-5">
                    <input id="lname" placeholder="Last name" name="lname" type="text" class="form-control" required>
                    <label for="lname"></label>
                </div>
                    <div class="col-md-2">
                            <input id="age" placeholder="Age (16-100)" name="age" type="number" class="form-control" required>
                            <label for="age"></label>
                    </div>
                </div>

                <!-- Address Line 1 -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input id="address_l1" placeholder="Address line 1" name="address_l1" type="text" class="form-control" required>
                        <label for="address_l1"></label>
                      </div>
                <!-- Address Line 2 -->
                    <div class="col-md-6">
                        <input id="address_l2" placeholder="Address line 2" name="address_l2" class="form-control">
                        <label for="address_l2"></label>
                      </div>
                </div>

                <!-- City and Postcode -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input id="city" placeholder="City" name="city" type="text" class="form-control" required>
                        <label for="city"></label>
                      </div>
                      <div class="col-md-6">
                        <input id="postcode" placeholder="Postcode" name="postcode" type="text" class="form-control" required>
                        <label for="postcode"></label>
                      </div>
                </div>
                <!-- Phone -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <input id="cell" placeholder="Phone number (+XX-XXX-XXX XXXX)" name="cell" type="tel" minlength="5" maxlength="15"  pattern="^[0-9]{3}-[0-9]{2}-[0-9]{3}$" class="form-control" required>
                        <label for="cell"></label>
                    </div>
                
                <!-- E-mail address -->
                
                    <div class="col-md-6">
                        <input id="email" placeholder="E-mail Address" name="email" type="email" minlength="5" maxlength="40" class="form-control" required>
                        <label for="email"></label>
                    </div>
                </div>

                <!-- Switch #1 -->
                <div id="switches" class="row mb-5">
                    
                        <div class="col-12 form-check form-switch">
                            <label class="form-check-label" for="is_help">I also Want to Help Sometime</label>
                            <input class="form-check-input" type="checkbox" role="switch" id="is_help"> 
                        </div>
                    
                </div>
                
                <!-- Register and Clear form button -->
                <div class="row mb-5">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary text-shadow">
                            Clear Form <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary text-shadow">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <p class="center-align">
                            Already Registered? 
                            <a href="{{ url_for('login') }}" class="light-blue-text text-darken-a">Log In</a>
                        </p>
                    </div>
                </div>


            </div>
        
        </form>
    
        </div>
    </div>
    
    

{% endblock %}